<nav th:fragment="menu" class="navbar fixed-top navbar-dark bg-dark">

  <div>
  <a class="navbar-center" style="color:white" href="/dao/datasource" title="进入数据层dao生成">数据层DAO生成</a>
  <a class="navbar-right" style="color:white" href="/designpattern" title="设计模式生成">设计模式</a>
  <a class="navbar-right" style="color:white" href="/re" title="正则表达式">正则表达式</a>
  </div>
  <div>
   <a class="navbar"  style="color:white;float:right" target="view_window" href="/AutoCode使用说明.pdf" title="查看帮助文档">帮助文档</a>
  <a class="navbar" style="color:white;float:right"  href="/" title="返回首页">返回首页</a>
  </div>

</nav>