spring:
  mvc:
    favicon:
      enabled: false 
  profiles:
    active: prod
  logging:
    config: classpath:log4j.properties
  servlet:
    multipart: 
      max-file-size: 128MB
      max-request-size: 128MB
  http:
    multipart:
      enabled: false
  thymeleaf:
    prefix: "classpath:/templates/"
    check-template-location: true
    mode: HTML5
    encoding:  UTF-8
    content-type: text/html
    cache: false
    cache-period: 0
  template:
      cache: false
server:
  port: 8070