<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="./common/commoncss::commoncss(~{::title})">
<title>数据库的信息</title>
</head>
<style>
  body{
  	padding-top:150px;
    padding-bottom:150px;
  }
</style>

<body>
	<nav th:replace="./common/menu::menu"></nav>
	<div class="container">
		<table id="database_table">
		</table>
		<div class="form-group">
			<label for="packagename">包名</label> 
			<input type="text" class="form-control" name="packagename" id="packagename" placeholder="输入包名">
			<small id="datasource_address_help" class="form-text text-muted">将会生成 controller、entity、mapper、mapper_xml、serveice、service_impl 在该包下，依赖于mybatis-puls.
			<br>
		&lt;dependency&gt;<br>
		&nbsp;	&lt;groupId&gt;com.baomidou&lt;/groupId&gt;<br>
		&nbsp;	&lt;artifactId&gt;mybatis-plus-boot-starter&lt;/artifactId&gt;<br>
		&nbsp;	&lt;version&gt;3.0.1&lt;/version&gt;<br>
		&lt;/dependency&gt;<br>
			</small>
		</div>
		<button type="button" id="submitGenerateInfo"class="btn btn-dark">生成代码</button>
	</div>
	
	<a id="download_link"  hidden="hidden"></a>
	
</body>
<footer th:replace="./common/commonjs::commonjs"></footer>
<script src="../js/tablenames.js" ></script>
</html>