<!DOCTYPE html>
<html lang="zh_cn" xmlns:th="http://www.thymeleaf.org">
<head th:replace="./common/commonindexcss::commoncss(~{::title})">
<title>欢迎来到代码自动生成系统AutoCode</title>
</head>
<body>
	<nav th:replace="./common/menu::menu"></nav>
	    <div class="row align-items-center justify-content-center"   style="height: 100vh;">
	         <div id="statistics_charts" style="width: 600px;height:400px;"></div>
	    </div>
</body>
<footer th:replace="./common/commonjs::commonjs"></footer>
<script src="./js/index.js" ></script>
</html>